extends layout 

block content
    form(method="POST" action='/new')
      label(for='text') Text
      input#text(name='text' value='' type='text')
      label(for='user') User
      input#user(name='user' value='' type='text')
      button(type='submit') Submit

